body {
  font-family: 'Questrial', sans-serif;
}

.content {
  text-align: center;
  margin: 0 auto;
  width: 500px;
}

.prompt {
  margin: 20px;
  font-size: 24px;
  text-align: left;
}

#type-box {
  margin: 0 auto;
  width: 80%;
  font-size: 150%;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  font-family: 'Quicksand', sans-serif;
}

#type-box:focus {
  outline: none;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 48px;
}

.highlight {
  background-color: #ffc700;
}


