body {
  font-family: 'Quicksand', sans-serif;
/*  background-image: url('../cat.png');*/

  background-image:url('../cathead.png');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:50% 100%; 
  
}

main {
  text-align: center;
  margin: 0 auto;
  width: 500px;
}

.prompt {
  margin: 50px;
  font-size: 24px;
  text-align: left;
  background: rgba(224, 224, 224, 0.5);
  text-align: justify;
}

#type-box {
  margin: 20px;
  width: 80%;
  font-size: 150%;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  background: none;
  font-family: 'Quicksand', sans-serif;
}

hr {
  width: 80%;
  background-color: #dbdbdb; 
  height: 1px; 
  border: 0;
}

#type-box:focus {
  outline: none;
}

h1 {
  text-align: center;
  font-size: 48px;
}

.highlight, .title3 {
  background-color: #7FDBFF;
}

.error, .title1 {
  background-color: #FF5335;
}

.title2 {
  background-color: #EEF1F2;
}

.title1, .title2, .title3 {
  display: inline-block;
  text-align: center;
  padding: 5px 10px 5px 10px;
  opacity: .8;
}

.timer {
  font-size: 130%;
}

.button {
  background-color: #7FDBFF;
  width: 30%;
  margin: 20px auto;
  padding: 5px 5px 5px 5px;
  border: solid 1px #a5a5a5;
  opacity: .9;
}

.button:hover {
  cursor: crosshair;
}

#progress-bars {
  margin: 0 auto;
  width: 80%;
}

.progress {
  background-color: #7FDBFF;
  height: 20px;
  margin-bottom: 5px;
}

.accuracy {
  height: 25px;
}


